body{
    margin: 0;
    padding: 0;
    background-color: gray;
}
#box{
    border: 1px solid;
    background-color: blue;
    width: 150px;
    margin: 30px;
    
    
}
div{
    font-size: 20px;
}
